@model TechWebApplication.Services.ViewModel.CategoryViewModel

@{
    ViewData["Title"] = "DetailCategory";
}

<h1 class="my-5 text-primary">Details</h1>

<div class="p-2">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailImagePath)
        </dd>
    </dl>
</div>
<div class="my-3">
    <a asp-action="UpdateCategory" asp-controller="Category" asp-route-id="@Model.Id" class="btn btn-primary me-3">Edit</a>
    <a asp-action="Index" asp-controller="Category" class="btn btn-secondary">Back to List</a>
</div>
