@model IEnumerable<TechWebApplication.Services.ViewModel.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4">Category</h1>

<p>
    <a asp-action="CreateCategory" asp-controller="Category" class="btn btn-outline-info text-decoration-none"><i class="fa-solid fa-plus me-2"></i>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbnailImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailImagePath)
            </td>
            <td class="text-end">
                <a asp-action="UpdateCategory" asp-route-id="@item.Id" class="text-info text-decoration-none me-2"> <i class="fa-solid fa-pen-to-square"></i> </a>
                <a asp-action="DetailCategory" asp-route-id="@item.Id" class="text-dark text-decoration-none me-2"> <i class="fa-solid fa-table"></i> </a>
                    <a asp-action="DeleteCategory" asp-route-id="@item.Id" class="text-danger text-decoration-none me-2"> <i class="fa-solid fa-trash"></i> </a>
                <a asp-action="Index" asp-controller="CategoryItem" asp-route-id="@item.Id" class="btn btn-outline-info text-decoration-none"> Update Items </a> 
            </td>
        </tr>
}
    </tbody>
</table>
