@model IEnumerable<TechWebApplication.Services.ViewModel.MediaTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary my-5">Media Types </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbnailImagePath)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailImagePath)
            </td>
            <td class="text-end">
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
            </td>
        </tr>
}
    </tbody>
</table>
