@model TechWebApplication.Services.ViewModel.CategoryItemViewModel

@{
    ViewData["Title"] = "DetailCategoryitem";
}

<h1 class="text-primary my-5">Detail Of Item</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeItemReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeItemReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateCategoryItem" asp-controller="CategoryItem" asp-route-id="@Model.Id" class="btn btn-primary me-5">Edit</a>
    <a asp-action="Index" asp-route-id="@Model.CategoryId" class="btn btn-secondary">Back to List</a>
</div>
