@model IEnumerable<TechWebApplication.Services.ViewModel.CategoryItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateCategoryItem" asp-route-categoryId="@ViewBag.categoryId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeItemReleased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>@Html.DisplayFor(mdoelItem => item.Id)</td>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeItemReleased)
            </td>
            <td>
                <a asp-action="UpdateCategoryItem" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailCategoryitem" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteCategoryItem" asp-route-id="@item.Id">Delete</a> |
                @{
                    if(item.Content is null) {
                            <a asp-action="Create" asp-controller="Content" asp-route-id="@item.Id">Add Content</a>
                        }
                        else {
                            <a asp-action="Update" asp-controller="Content" asp-route-id="@item.Content.Id">Update Content</a>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
