@model IEnumerable<TechWebApplication.Services.ViewModel.CategoryItemViewModel>

@{
    ViewData["Title"] = "Index";
}

@{
    if (User.IsInRole("Admin")) {
        <h1 class="my-4 text-primary">Category Items</h1>

        <p>
            <a asp-action="CreateCategoryItem" asp-route-categoryId="@ViewBag.categoryId" class="text-decoration-none btn btn-outline-info"><i class="fa-solid fa-plus me-2"></i>Create New</a>
        </p>
    } else {
        <h1 class="my-4 text-primary">Topics</h1>

    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @{
                if (User.IsInRole("Admin")) {
                    <th>
                        @Html.DisplayNameFor(model => model.DateTimeItemReleased)
                    </th>
                    <th></th>
                }
            }

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                @if (User.IsInRole("Admin")) {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeItemReleased)
                    </td>
                }
                @if (User.IsInRole("Admin")) {
                    <td>
                        <a asp-action="UpdateCategoryItem" asp-route-id="@item.Id" class="text-info text-decoration-none me-2"> <i class="fa-solid fa-pen-to-square"></i> </a>
                        <a asp-action="DetailCategoryitem" asp-route-id="@item.Id" class="text-dark text-decoration-none me-2"> <i class="fa-solid fa-table"></i> </a>
                        <a asp-action="DeleteCategoryItem" asp-route-id="@item.Id" class="text-danger text-decoration-none me-2"> <i class="fa-solid fa-trash"></i> </a>
                        @{
                            if (item.Content is null) {
                                <a asp-action="Create" asp-controller="Content" asp-route-id="@item.Id" class="btn btn-outline-secondary text-decoration-none">Add Content</a>
                            } else {
                                <a asp-action="Update" asp-controller="Content" asp-route-id="@item.Content.Id" class="btn btn-outline-secondary text-decoration-none">Update Content</a>
                            }
                        }
                    </td>
                }
            </tr>
}
    </tbody>
</table>
